//@import url(http://fonts.googleapis.com/css?family=Economica);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

h3
{
	//font-family: 'Economica', sans-serif;
	font-family: 'Maven Pro', sans-serif;
	font-weight: normal;
	font-size: 26px;
	margin-top: 0px;
}

header
{
	position: absolute;
	left: 0;
	right: 0;

	.masthead
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 40px;
		background: @orange;
		text-align: center;

		ul
		{
			margin: 0;
			padding: 0 10px;
			list-style-type: none;
			.clearfix();

			li
			{
				margin: 0;
				padding: 0;
				width: auto;

				a
				{
					display: block;
					margin-top: 5px;
				}
			}

			li.logo
			{
				float: none;
				width: 183px;
				margin: 0 auto;

				a
				{
					display: block;
					float: none;
					width: 183px;
					height: 40px;
					margin: 0;
					background: url('../img/masthead-logo.png') no-repeat left top;
					.hide-text();

				}
			}
		}

		
	}

	.hero
	{
		margin-top: 40px;
		padding-top:50px;
		text-align:center;
		color: #fff;
		.shadowed-text();
		height:430px;
		_height:480px;
		left: 0;
		right: 0;
		background-image: url('../img/hero.jpg');
		background-position:center center;
		background-repeat:no-repeat;
		background-color:transparent;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;

		img
		{
			display: block;
			margin: 0 auto 20px auto;
		}

		
	}
}

.more
{
	display: none;
	padding: 10px;
	background: lighten(@orange, 30);
	.apple-text();
}

.intro
{
	padding-top: 450px;
	padding-bottom: 20px;

	.row
	{
		margin-bottom: 40px;
	}
}

.carousel
{
	text-align: center;
	border-bottom: solid 1px @grayLight;
}

.image
{
	text-align: center;
	margin-bottom: 10px;
}

.faq
{
	padding-top: 60px;

	h1
	{
		font-family: 'Maven Pro', sans-serif;
		font-weight: normal;
		font-size: 36px;
		margin-top: 0px;
		text-align: center;
	}

	h3
	{
		font-size: 20px;
		line-height: 1.2;
		text-align: center;
	}

	.question
	{
		margin-top: 20px;
		padding-top: 20px;
		border-top: solid 1px @grayLighter;
	}
}

.pullout
{
	position: relative;
	margin: 0;
	padding: 20px 0;
	color: #fff;
}

.pullout.features
{
	margin-top: 20px;
	background: black;

	.row
	{
		margin: 10px 0 20px;
	}
}

.pullout.about
{
	background: @gray;

	h3, p
	{
		.shadowed-text();
	}
}

.pullout.free-trial
{
	background: lighten(@orange, 15);

	h3, p
	{
		.shadowed-text();
	}
}

.pullout.pricing
{
	background: @orange;
	color: #000;

	.span10
	{
		h3, p
		{
			.apple-text();
		}
	}

	.span-price
	{
		width: 135px;

		.well
		{
			padding: 5px;
			text-align: center;
		   .buttonBackground(@btnWarningBackground, @btnWarningBackgroundHighlight);
		  border: 1px solid darken(@orange, 5%);
		  *border: 0; // Remove the border to prevent IE7's black border on input:focus
		  border-bottom-color: darken(@orange, 20%);
		  .border-radius(@baseBorderRadius);
		  .ie7-restore-left-whitespace(); // Give IE7 some love
		  .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");

			h3
			{
				margin-top: 0;
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
}

.pullout.terms
{	
	color: #000;
}

footer
{
	background: black;
	padding: 20px 0;
	margin-top: 20px;
	color: #fff;
	font-size: 12px;
}

.centre-block
{
	text-align: center;
}

@media (min-width: 1200px) 
{
	
	.pullout.pricing
	{

		.span-price
		{
			width: 220px;

		}
	}

}

@media (min-width: 980px) and (max-width: 1199px) {
	.pullout.pricing
	{

		.span-price
		{
			width: 180px;
		}
	}
}

@media (max-width: 767px) {

  // Padding to set content in a bit
  .pullout,
  section
  {
    padding-left: 20px;
    padding-right: 20px;
  }

  h3,
  p
  {
  	text-align: center;
  }

  .pullout.pricing
	{
		.span-price
		{
			width: 100%;

		}
	}

	footer
	{
		text-align: center;
	}
}

@media (max-width: 480px) {

  	header
	{

		.masthead
		{
			ul
			{

				li.logo
				{
					width: 51px;

					a
					{
						width: 51px;
						background: url('../img/masthead-icon.png') no-repeat left top;

					}
				}
			}

		}
		
		.hero
		{
			padding-top:30px;
			height:380px;
			_height:410px;


		}


	}

	.intro
	{
		padding-top: 400px;

	}
}