@import url(http://fonts.googleapis.com/css?family=Economica);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

h3
{
	//font-family: 'Economica', sans-serif;
	font-family: 'Maven Pro', sans-serif;
	font-weight: normal;
	font-size: 26px;
}

header
{
	position: absolute;
	left: 0;
	right: 0;

	.masthead
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 40px;
		background: @orange;

		a
		{
			float: right;
			margin: 5px 10px 0 0;
		}
	}

	.hero
	{
		margin-top: 40px;
		padding-top:60px;
		text-align:center;
		color: #fff;
		.shadowed-text();
		height:440px;
		_height:500px;
		left: 0;
		right: 0;
		background-image: url('../img/hero.jpg');
		background-position:center center;
		background-repeat:no-repeat;
		background-color:transparent;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;

		img
		{
			display: block;
			margin: 0 auto 20px auto;
		}

		
	}
}

.more
{
	display: none;
	padding: 10px;
	background: lighten(@orange, 30);
}

.intro
{
	padding-top: 490px;
	padding-bottom: 20px;

	.row
	{
		margin-bottom: 20px;
	}
}

.carousel
{
	text-align: center;
	border-bottom: solid 1px @grayLight;
}

.image
{
	text-align: center;
}

.pullout
{
	position: relative;
	margin: 0;
	padding: 20px 0;
	color: #fff;
}

.pullout.features
{
	margin-top: 20px;
	background: black;

	.row
	{
		margin-bottom: 20px;
	}
}

.pullout.about
{
	background: @gray;
}

.pullout.free-trial
{
	background: lighten(@orange, 15);
}

.pullout.pricing
{
	background: @orange;
	color: #000;

	.span-price
	{
		width: 135px;

		.well
		{
			padding: 5px;
			text-align: center;
		   .buttonBackground(@btnWarningBackground, @btnWarningBackgroundHighlight);
		  border: 1px solid darken(@orange, 5%);
		  *border: 0; // Remove the border to prevent IE7's black border on input:focus
		  border-bottom-color: darken(@orange, 20%);
		  .border-radius(@baseBorderRadius);
		  .ie7-restore-left-whitespace(); // Give IE7 some love
		  .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");

			h3
			{
				margin-top: 0;
				font-size: 20px;
			}
		}
	}
}

.pullout.terms
{	
	color: #000;
}

footer
{
	background: black;
	padding: 20px 0;
	margin-top: 20px;
	color: #fff;
}

.centre-block
{
	text-align: center;
}

@media (min-width: 1200px) 
{
	
	.pullout.pricing
	{

		.span-price
		{
			width: 220px;

		}
	}

}

@media (min-width: 980px) and (max-width: 1199px) {
	.pullout.pricing
	{

		.span-price
		{
			width: 180px;
		}
	}
}

@media (max-width: 767px) {

  // Padding to set content in a bit
  .pullout,
  section
  {
    padding-left: 20px;
    padding-right: 20px;
  }

  h3
  {
  	text-align: center;
  }

  .pullout.pricing
	{
		.span-price
		{
			width: 100%;

		}
	}
}