@media only screen and (max-width : 768px)  
{ 
	.sidebar
	{
		width: 62px;
	}

	.container
	{
		left: 62px;
	}

	ul.side-nav
	{
		top: auto;
		width: 62px;

		li
		{
			a
			{
				
				.hide-text();
			}
		}
	}


}