html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
margin:0;
padding:0;
border:0;
font:inherit;
font-size:100%;
vertical-align:baseline
}

html
{
line-height:1
}

ol,ul
{
list-style:none
}

table
{
border-collapse:collapse;
border-spacing:0
}

caption,th,td
{
text-align:left;
font-weight:normal;
vertical-align:middle
}

q,blockquote
{
quotes:none
}

q:before,q:after,blockquote:before,blockquote:after
{
content:"";
content:none
}

a img
{
border:none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
{
display:block
}

html
{
margin:0;
background-color:#e9ebed
}

body
{
margin:0;
font-family:"Helvetica Neue", helvetica, sans-serif;
font-size:14px;
color:#2e3236;
background-color:#e9ebed;
-webkit-font-smoothing:antialiased
}

a
{
color:#4ba1dd;
text-decoration:none;
-webkit-transition-property:color;
-moz-transition-property:color;
-o-transition-property:color;
transition-property:color;
-webkit-transition-duration:0.2s;
-moz-transition-duration:0.2s;
-o-transition-duration:0.2s;
transition-duration:0.2s
}

a:hover
{
color:#2584c5
}

a:active
{
outline:none
}

img
{
outline:none
}

[data-icon]:before
{
font-family:'Pictos Custom';
content:attr(data-icon)
}

input[type=text],input[type=email],input[type=number],input[type=password],textarea
{
padding:8px 5px;
font-family:"Helvetica Neue", helvetica, sans-serif;
font-size:14px;
border:none;
width:45%;
-webkit-box-shadow:inset rgba(0,0,0,0.5) 0 1px 3px,inset rgba(0,0,0,0.3) 0 0 1px,rgba(255,255,255,0.4) 0 1px 0;
-moz-box-shadow:inset rgba(0,0,0,0.5) 0 1px 3px,inset rgba(0,0,0,0.3) 0 0 1px,rgba(255,255,255,0.4) 0 1px 0;
box-shadow:inset rgba(0,0,0,0.5) 0 1px 3px,inset rgba(0,0,0,0.3) 0 0 1px,rgba(255,255,255,0.4) 0 1px 0;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px
}

input[type=text][disabled],input[type=email][disabled],input[type=number][disabled],input[type=password][disabled],textarea[disabled]
{
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
opacity:0.4
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button
{
-webkit-appearance:none;
margin:0
}

.btn
{
padding:12px 22px;
background-color:#279ef2;
font-weight:bold;
line-height:1em;
font-size:13px;
text-transform:uppercase;
color:#fff;
text-shadow:rgba(0,0,0,0.35) 0 -1px 0;
border-bottom:1px solid #279ef2;
-webkit-border-radius:2px;
-moz-border-radius:2px;
-ms-border-radius:2px;
-o-border-radius:2px;
border-radius:2px;
-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 2px,inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 1px;
-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 2px,inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 1px;
box-shadow:rgba(0,0,0,0.2) 0 1px 2px,inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 1px;
background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2fc5f5), color-stop(100%, #279ef2)),#279ef2;
background:-webkit-linear-gradient(#2fc5f5,#279ef2),#279ef2;
background:-moz-linear-gradient(#2fc5f5,#279ef2),#279ef2;
background:-o-linear-gradient(#2fc5f5,#279ef2),#279ef2;
background:linear-gradient(#2fc5f5,#279ef2),#279ef2
}

.btn.gray
{
background-color:#7c8c9d;
border-bottom:1px solid #7c8c9d;
background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94a4b4), color-stop(100%, #7c8c9d)),#7c8c9d;
background:-webkit-linear-gradient(#94a4b4,#7c8c9d),#7c8c9d;
background:-moz-linear-gradient(#94a4b4,#7c8c9d),#7c8c9d;
background:-o-linear-gradient(#94a4b4,#7c8c9d),#7c8c9d;
background:linear-gradient(#94a4b4,#7c8c9d),#7c8c9d
}

.btn.small
{
padding:10px 20px 9px 20px;
font-size:11px
}

.btn:active
{
-webkit-box-shadow:inset rgba(0,0,0,0.6) 0 1px 4px;
-moz-box-shadow:inset rgba(0,0,0,0.6) 0 1px 4px;
box-shadow:inset rgba(0,0,0,0.6) 0 1px 4px
}

.btn:hover
{
color:#fff
}

.btn.active:active
{
-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 2px,inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 1px;
-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 2px,inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 1px;
box-shadow:rgba(0,0,0,0.2) 0 1px 2px,inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 1px
}

.btn.outline
{
background-color:transparent;
border:1px solid #aaa;
color:#898c92;
text-shadow:none;
background:none;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}

.btn.outline.small
{
padding-top:11px !important;
padding-bottom:11px !important
}

.btn.outline:hover
{
color:#57595e
}

.btn.outline:active
{
-webkit-box-shadow:inset rgba(0,0,0,0.3) 0 1px 4px;
-moz-box-shadow:inset rgba(0,0,0,0.3) 0 1px 4px;
box-shadow:inset rgba(0,0,0,0.3) 0 1px 4px
}

.btn.red
{
color:#e77a8b;
border:1px solid #ebb0ba
}

.btn.red:hover
{
color:#e77a8b
}

.btn.red:active
{ 
color:#e25c71;
border-color:#e494a1
}

header
{
width:100%;
background-color:#fff;
-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 1px;
-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 1px;
box-shadow:rgba(0,0,0,0.2) 0 1px 1px
}

header .top
{
position:relative;
padding-top:30px;
text-align:center;
height:184px;
background-position:center center;
background-repeat:no-repeat;
background-color:#fff;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover
}

header .top:before
{
position:absolute;
width:100%;
height:100%;
top:0;
content:"";
background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(75%, rgba(0,0,0,0)), color-stop(99%, rgba(0,0,0,0.19)), color-stop(100%, rgba(0,0,0,0.4)));
background:-webkit-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.19) 99%,rgba(0,0,0,0.4) 100%);
background:-moz-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.19) 99%,rgba(0,0,0,0.4) 100%);
background:-o-linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.19) 99%,rgba(0,0,0,0.4) 100%);
background:linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.19) 99%,rgba(0,0,0,0.4) 100%)
}

header .top #seller_image
{
position:relative;
width:200px;
height:200px;
overflow:hidden;
margin:0 auto;
padding:5px;
background-color:transparent
}

header .top #seller_image span
{
position:absolute;
z-index:3;
display:block;
width:200px;
height:200px;
margin-top:-5px;
margin-left:-5px;
background-position:center center;
background-repeat:no-repeat;
background-color:#fff;
border:5px solid #fff;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
-webkit-border-radius:14px;
-moz-border-radius:14px;
-ms-border-radius:14px;
-o-border-radius:14px;
border-radius:14px
}

header #meta
{
text-align:center;
padding:50px 0 70px 0;
max-width:500px;
margin:0 auto
}

header #meta h1
{
margin:0 0 20px 0;
padding:0;
color:#354c64;
font-size:34px;
font-weight:normal
}

header #meta h3
{
margin:0 0 20px 0;
font-size:17px
}

header #meta a.btn
{
display:-moz-inline-stack;
display:inline-block;
vertical-align:middle;
*vertical-align:auto;
zoom:1;
*display:inline;
margin:4px 5px 0 5px;
padding-top:12px;
padding-bottom:11px
}

header #meta a.btn.back
{
margin-bottom:13px
}

header #meta p
{
padding:0 20px 10px 20px;
font-size:13px;
line-height:1.34em;
color:#898c92
}

header.onpage #meta
{
padding-bottom:30px
}

.box
{
position:relative;
max-width:500px;
margin:0 auto 40px auto;
overflow-x:hidden;
background-color:#fff;
-webkit-border-radius:1px;
-moz-border-radius:1px;
-ms-border-radius:1px;
-o-border-radius:1px;
border-radius:1px;
-webkit-box-shadow:rgba(0,0,0,0.25) 0 1px 3px,#354c64 0 0 1px;
-moz-box-shadow:rgba(0,0,0,0.25) 0 1px 3px,#354c64 0 0 1px;
box-shadow:rgba(0,0,0,0.25) 0 1px 3px,#354c64 0 0 1px
}

.box .lock-icon
{
position:absolute;
right:8px;
margin-top:5px;
font-size:17px;
color:#b1b3b7
}

.content
{
padding:0 20px
}

.content.forms .box
{
margin-top:-30px
}

.content form
{
margin-top:-18px;
padding-top:50px
}

.content .box.empty
{
margin-top:-30px;
padding:30px 20px;
line-height:1.4em;
text-align:center
}

.content .box.empty .text
{
padding:0
}

.content .post:first-of-type
{
margin-top:-30px
}

.content .post
{
position:relative;
max-width:700px
}

.content .post time
{
display:block;
color:#a4a6aa;
font-weight:bold;
font-size:13px;
padding:15px 18px 12px 18px
}

.content .post time a
{
color:#a4a6aa
}

.content .post .text
{
padding:0 18px 15px 18px;
line-height:1.4em
}

.content .post .file
{
border-top:1px solid #cdd1d6
}

.content .post .file a
{
display:-moz-inline-stack;
display:inline-block;
vertical-align:middle;
*vertical-align:auto;
zoom:1;
*display:inline;
padding:10px 0 4px 0;
margin:0 18px;
color:#354c64;
font-weight:bold;
font-size:13px
}

.content .post .file a:before
{
display:-moz-inline-stack;
display:inline-block;
vertical-align:middle;
*vertical-align:auto;
zoom:1;
*display:inline;
padding-right:10px;
font-size:26px;
content:"|";
line-height:1em;
vertical-align:text-top;
font-weight:normal;
font-family:'Pictos Custom'
}

.content .post .file a:hover
{
color:#121921
}

.content .post .image
{
width:100%;
height:250px;
background-position:center center;
background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover
}

.content .post .image:after
{
position:absolute;
display:block;
content:"";
width:100%;
height:60px;
top:190px;
background-color:rgba(0,0,0,0.5);
background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.8)));
background:-webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
background:-moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
background:-o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8))
}

.content .post.image time
{
position:absolute;
top:205px;
z-index:3;
color:#fff;
text-shadow:rgba(0,0,0,0.8) 0 1px 1px
}

.content .post.image time a
{
color:#fff
}

.content .post.image .file
{
position:absolute;
top:208px;
right:2px;
text-align:right;
border:none
}

.content .post.image .file a
{
color:#fff;
text-shadow:rgba(0,0,0,0.8) 0 1px 1px;
-webkit-transition-property:opacity;
-moz-transition-property:opacity;
-o-transition-property:opacity;
transition-property:opacity;
-webkit-transition-duration:0.2s;
-moz-transition-duration:0.2s;
-o-transition-duration:0.2s;
transition-duration:0.2s
}

.content .post.image .file a:hover
{
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
opacity:0.7
}

.content .post.image .text
{
padding-top:15px
}

.content.reset #signup_form,.content.reset #login_form,.content.reset #forgot_form
{
display:none
}

.content.reset #reset_form
{
display:block
}

#load_more
{
display:block;
text-align:center;
max-width:700px;
margin:0 auto 50px auto;
padding:15px 0;
color:#898c92;
font-weight:bold;
font-size:12px;
text-transform:uppercase;
text-shadow:rgba(255,255,255,0.6) 0 1px 0;
border:1px solid #b1b8bf;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
-webkit-box-shadow:rgba(255,255,255,0.6) 0 1px 0;
-moz-box-shadow:rgba(255,255,255,0.6) 0 1px 0;
box-shadow:rgba(255,255,255,0.6) 0 1px 0
}

#load_more:active
{
-webkit-box-shadow:inset rgba(0,0,0,0.18) 0 1px 4px,rgba(255,255,255,0.6) 0 1px 0;
-moz-box-shadow:inset rgba(0,0,0,0.18) 0 1px 4px,rgba(255,255,255,0.6) 0 1px 0;
box-shadow:inset rgba(0,0,0,0.18) 0 1px 4px,rgba(255,255,255,0.6) 0 1px 0
}

#load_more.stale
{
text-align:left
}

#load_more.stale>div
{
width:50px !important
}

.form-toggle
{
position:absolute;
text-align:center;
width:100%;
margin:-21px 0 0 -20px;
z-index:2
}

.form-toggle a.btn
{
display:-moz-inline-stack;
display:inline-block;
vertical-align:middle;
*vertical-align:auto;
zoom:1;
*display:inline;
width:96px;
text-transform:none;
font-size:15px;
padding-top:11px
}

.form-toggle a.btn:first-of-type
{
-moz-border-radius-topright:0;
-webkit-border-top-right-radius:0;
border-top-right-radius:0;
-moz-border-radius-bottomright:0;
-webkit-border-bottom-right-radius:0;
border-bottom-right-radius:0
}

.form-toggle a.btn:last-of-type
{
-moz-border-radius-topleft:0;
-webkit-border-top-left-radius:0;
border-top-left-radius:0;
-moz-border-radius-bottomleft:0;
-webkit-border-bottom-left-radius:0;
border-bottom-left-radius:0
}

form
{
position:relative;
display:block;
color:#898c92
}

form label,form .row
{
position:relative;
display:block
}

form label>em,form .row>em
{
text-align:right;
display:-moz-inline-stack;
display:inline-block;
vertical-align:middle;
*vertical-align:auto;
zoom:1;
*display:inline;
font-weight:bold;
width:30%;
padding:18px 18px 20px 18px;
margin-right:5px
}

form label.center,form .row.center
{
text-align:center;
margin-top:20px
}

form label input,form .row input
{
vertical-align:middle
}

form label input.small-field,form .row input.small-field
{
width:15%
}

form label .value,form .row .value
{
width:45%;
font-weight:bold;
color:#2e3236
}

form label.amount input,form .row.amount input
{
-webkit-box-shadow:inset rgba(0,0,0,0.5) 0 1px 3px,inset rgba(0,0,0,0.3) 0 0 1px,rgba(255,255,255,0.4) 0 1px 0,rgba(75,176,255,0.6) 0 0 18px,#4bb0ff 0 0 4px;
-moz-box-shadow:inset rgba(0,0,0,0.5) 0 1px 3px,inset rgba(0,0,0,0.3) 0 0 1px,rgba(255,255,255,0.4) 0 1px 0,rgba(75,176,255,0.6) 0 0 18px,#4bb0ff 0 0 4px;
box-shadow:inset rgba(0,0,0,0.5) 0 1px 3px,inset rgba(0,0,0,0.3) 0 0 1px,rgba(255,255,255,0.4) 0 1px 0,rgba(75,176,255,0.6) 0 0 18px,#4bb0ff 0 0 4px
}

form label select,form .row select
{
width:45%
}

form label span.success,form .row span.success
{
display:block;
text-align:center;
padding:20px 30px;
color:#45ce6f
}

form hr
{
height:1px;
border:none;
background-color:#d3d7db
}

form .last
{
display:block;
text-align:center;
padding:18px 25px 25px 25px
}

form .last input
{
position:absolute;
border:none;
left:-99999px;
height:0;
width:0;
padding:0;
margin:0;
visibility:hidden
}

form .last a.btn
{
display:-moz-inline-stack;
display:inline-block;
vertical-align:middle;
*vertical-align:auto;
zoom:1;
*display:inline
}

form>.title
{
text-align:left;
color:#2e3236;
text-transform:uppercase;
font-size:11px;
font-weight:bold;
padding:10px 20px 15px 20px
}

form#login_form,form#forgot_form,form#cc_form,form#reset_form
{
display:none
}

form#general_form .last
{
text-align:left
}

form#general_form .last a.delete
{
float:right;
margin-top:2px
}

.extra
{
margin:0 auto 40px auto;
font-size:13px;
text-align:center;
text-shadow:rgba(255,255,255,0.6) 0 1px 0
}

.extra #forgot_pass
{
display:none
}

footer
{
text-align:center;
margin:0 auto 35px auto
}

footer a
{
font-size:12px;
margin:0 25px;
color:#5d656d;
text-shadow:rgba(255,255,255,0.5) 0 1px 0
}

footer a:hover
{
color:#2e3236
}

footer h3
{
width:280px;
height:46px;
margin:0 auto 30px auto;
background-color:rgba(49,56,67,0.05);
-webkit-border-radius:8px;
-moz-border-radius:8px;
-ms-border-radius:8px;
-o-border-radius:8px;
border-radius:8px;
-webkit-box-shadow:inset rgba(0,0,0,0.25) 0 1px 3px,inset rgba(0,0,0,0.05) 0 0 1px,rgba(255,255,255,0.4) 0 1px 1px;
-moz-box-shadow:inset rgba(0,0,0,0.25) 0 1px 3px,inset rgba(0,0,0,0.05) 0 0 1px,rgba(255,255,255,0.4) 0 1px 1px;
box-shadow:inset rgba(0,0,0,0.25) 0 1px 3px,inset rgba(0,0,0,0.05) 0 0 1px,rgba(255,255,255,0.4) 0 1px 1px
}

footer h3 a
{
display:-moz-inline-stack;
display:inline-block;
vertical-align:middle;
*vertical-align:auto;
zoom:1;
*display:inline;
margin:0 auto;
width:280px;
height:46px;
text-indent:-9999px;
background:transparent url(../images/logo@1x.png) no-repeat center 17px
}

#admin_user
{
text-align:center;
padding:12px 20px 15px 20px;
background-color:#222;
color:#fff;
font-weight:bold;
text-shadow:#000 0 -1px 0;
background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111)),#222;
background:-webkit-linear-gradient(#222222,#111111),#222;
background:-moz-linear-gradient(#222222,#111111),#222;
background:-o-linear-gradient(#222222,#111111),#222;
background:linear-gradient(#222222,#111111),#222
}

#admin_user small
{
font-weight:normal;
margin-top:6px;
display:block;
font-size:11px
}

.page
{
max-width:660px;
padding:0 20px;
margin:40px auto 50px auto;
-webkit-text-size-adjust:none
}

.page h1
{
padding:0 0 5px 0;
text-align:center;
font-size:24px;
color:#2e2e31;
font-weight:bold
}

.page h2
{
padding:0 0 5px 0;
text-align:left;
font-size:17px;
color:#2e2e31;
font-weight:bold
}

.page h4
{
padding:0 0 8px 0;
color:#2e2e31;
font-weight:bold
}

.page hr
{
margin:20px 0;
border:none;
height:1px;
background-color:#cdd1d6
}

.page ul
{
list-style-type:square;
padding:0 20px;
font-weight:normal
}

.page ul li
{
margin:10px 0 10px 20px;
line-height:1.4em
}

.page p
{
font-weight:normal;
line-height:1.4em;
margin-bottom:0
}

.page p strong
{
color:#2e2e31;
font-weight:bold
}

.page p strong em
{
color:#2e3236
}

.page p a
{
color:#4ba1dd
}

.content .post .text h1,.content .post .text h2,.content .post .text h3,.content .post .text h4,.content .post .text h5,.content .post .text h6
{
font-weight:bold;
margin:5px 0 10px 0
}

.content .post .text h1
{
font-size:24px
}

.content .post .text h2
{
font-size:22px
}

.content .post .text h3
{
font-size:20px
}

.content .post .text h4
{
font-size:18px
}

.content .post .text h5
{
font-size:16px
}

.content .post .text h6
{
font-size:14px
}

.content .post .text sup
{
vertical-align:super;
font-size:smaller
}

.content .post .text small
{
font-size:12px;
color:#898c92
}

.content .post .text strong,.content .post .text b
{
font-weight:bold
}

.content .post .text em,.content .post .text i
{
font-style:italic
}

.content .post .text code
{
font-family:"Andale Mono", "Courier New", Courier, monospace
}

.content .post .text pre
{
padding:10px;
margin:0 10px;
color:#354c64;
border:1px solid #d3d7db;
overflow-x:auto
}

.content .post .text p
{
margin:20px 0
}

.content .post .text img
{
max-width:100%
}

.content .post .text ul,.content .post .text ol
{
margin:15px;
list-style-type:square;
list-style-position:inside
}

.content .post .text ul li,.content .post .text ol li
{
margin:3px 0
}

.content .post .text ul li ul,.content .post .text ol li ul
{
margin-top:5px;
list-style-type:circle
}

.content .post .text ol
{
list-style-type:decimal !important
}

.content .post .text dl
{
margin:15px 10px 0 15px
}

.content .post .text dl dt
{
display:block;
font-weight:bold
}

.content .post .text dl dd
{
margin-left:20px;
margin-bottom:10px
}

.content .post .text blockquote
{
margin:20px;
padding-left:10px;
border-left:4px solid #ddd;
font-family:"Georgia", "Times", serif
}

.content .post .text hr
{
border:none;
height:1px;
background-color:#d3d7db
}

.content .post .text table
{
margin:20px 10px;
text-align:left;
border-collapse:collapse
}

.content .post .text table th
{
padding:12px 20px;
border-left:1px solid #d3d7db;
border-bottom:2px solid #959ea8
}

.content .post .text table td
{
padding:8px 20px;
margin:0 10px;
border-bottom:1px solid #d3d7db;
border-left:1px solid #d3d7db;
color:#69727b
}

.content .post .text table td code
{
color:#354c64
}

.content .post .text table tr:last-of-type td
{
border-bottom:none
}

.content .post .text table tr:hover td
{
background:#f1f3f4
}

#notify
{
display:none;
position:fixed;
top:50%;
left:50%;
width:160px;
min-height:145px;
margin-top:-72px;
margin-left:-80px;
color:#fff;
text-shadow:#000 0 1px 2px;
text-align:center;
background-color:#000;
border:1px solid rgba(0,0,0,0.9);
z-index:99999;
background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0.85)), color-stop(100%, rgba(0,0,0,0.9)));
background:-webkit-linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.9));
background:-moz-linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.9));
background:-o-linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.9));
background:linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.9));
-webkit-box-shadow:inset rgba(255,255,255,0.2) 0px 1px 1px,rgba(0,0,0,0.8) 0px 1px 5px;
-moz-box-shadow:inset rgba(255,255,255,0.2) 0px 1px 1px,rgba(0,0,0,0.8) 0px 1px 5px;
box-shadow:inset rgba(255,255,255,0.2) 0px 1px 1px,rgba(0,0,0,0.8) 0px 1px 5px;
-webkit-border-radius:20px;
-moz-border-radius:20px;
-ms-border-radius:20px;
-o-border-radius:20px;
border-radius:20px
}

#notify span
{
display:block;
margin:55px auto 10px auto
}

#notify span:before
{
line-height:0.3em;
font-size:70px;
text-shadow:#000 0 1px 2px
}

#notify.error
{
width:300px;
margin-left:-150px
}

#notify.error span
{
margin-top:45px;
margin-bottom:15px
}

#notify.error span:before
{
content:"E"
}

#notify.error strong
{
font-size:14px
}

#notify strong
{
display:block;
margin:0 auto 15px 0;
font-size:18px;
line-height:1.2em
}

#notify.error strong
{
font-size:15px
}

#modal_bg
{
display:none;
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
-webkit-transform:rotate3d(0, 0, 0, 0);
-moz-transform:rotate3d(0, 0, 0, 0);
-ms-transform:rotate3d(0, 0, 0, 0);
-o-transform:rotate3d(0, 0, 0, 0);
transform:rotate3d(0, 0, 0, 0);
background-color:rgba(0,0,0,0.8);
background:-webkit-radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.85));
background:-moz-radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.85));
background:-o-radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.85));
background:-ms-radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.85));
z-index:9992
}

#dialog
{
display:none;
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
min-width:430px;
min-height:400px;
z-index:9996
}

#dialog .wrapper
{
position:relative;
width:430px;
margin:150px auto 0 auto;
padding:10px;
text-align:center;
background:#fff;
-webkit-box-shadow:rgba(0,0,0,0.9) 0 2px 35px;
-moz-box-shadow:rgba(0,0,0,0.9) 0 2px 35px;
box-shadow:rgba(0,0,0,0.9) 0 2px 35px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px
}

#dialog .inner textarea
{
resize:none;
width:410px;
padding:10px;
height:40px;
background-color:transparent;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none
}

#dialog .inner .limit
{
color:#2e3236;
font-size:11px;
padding:9px 10px 10px 10px;
background-color:#eee;
text-align:left;
border-top:1px solid #ddd;
-webkit-border-radius:0 0 4px 4px;
-moz-border-radius:0 0 4px 4px;
-ms-border-radius:0 0 4px 4px;
-o-border-radius:0 0 4px 4px;
border-radius:0 0 4px 4px
}

#dialog .inner p
{
font-size:15px;
padding:10px;
line-height:1.3em
}

#dialog .inner p a
{
color:#4096cc;
text-decoration:underline
}

#dialog .inner p a:hover
{
text-decoration:none
}

#dialog .inner p small
{
display:block;
font-size:13px;
color:#999;
line-height:1.1em;
margin-top:5px
}

#dialog .options
{
margin:20px 0 10px 0
}

#dialog .options a.btn
{
display:inline-block;
margin:0 15px
}

@media only screen and (max-width: 600px)
{
	.content .post.video .mejs-mediaelement,.content .post.video video,.content .post.video .mejs-container,.content .post.video .mejs-layers>*
	{
	height:290px !important
	}


}

@media only screen and (max-width: 500px)
{
	input[type=text],input[type=email],input[type=number],input[type=password]
	{
	width:42%
	}

	header .top
	{
	height:84px
	}

	header .top #seller_image
	{
	width:100px;
	height:100px;
	padding:3px
	}

	header .top #seller_image span
	{
	width:100px;
	height:100px;
	margin-left:-3px;
	margin-top:-3px;
	border-width:3px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	-ms-border-radius:12px;
	-o-border-radius:12px;
	border-radius:12px
	}

	header #meta
	{
	padding:35px 0 65px 0
	}

	header #meta h1
	{
	font-size:26px
	}

	header #meta h3
	{
	margin:13px 0 15px 0;
	font-size:17px
	}

	header #meta a.btn.back
	{
	margin-bottom:18px
	}

	.form-toggle
	{
	margin-left:0
	}

	.form-toggle a.btn
	{
	width:94px;
	padding-left:12px;
	padding-right:12px
	}

	.box
	{
	margin-left:20px;
	margin-right:20px
	}

	.content
	{
	padding:0
	}

	.content .post.image .image
	{
	height:180px
	}

	.content .post.image .image:after
	{
	top:120px
	}

	.content .post.image time
	{
	top:138px
	}

	.content .post.image .file
	{
	position:relative;
	top:inherit;
	right:inherit;
	text-align:left;
	border-top:1px solid #cdd1d6
	}

	.content .post.image .file a
	{
	color:#354c64;
	text-shadow:none;
	-webkit-transition-property:color;
	-moz-transition-property:color;
	-o-transition-property:color;
	transition-property:color
	}

	.content .post.image .file a:hover
	{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1;
	color:#121921
	}

	.content .post.video .mejs-mediaelement,.content .post.video video,.content .post.video .mejs-container,.content .post.video .mejs-layers>*
	{
	height:200px !important
	}

	#dialog
	{
	min-width:340px
	}

	#dialog .wrapper
	{
	width:340px;
	margin-top:30px
	}


}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
{
	input[type=text],input[type=email],input[type=password],textarea
	{
	border:1px solid rgba(0,0,0,0.3);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
	}


}

@media only screen and (max-width: 480px) and (max-device-width: 480px)
{
	input[type=text],input[type=email],input[type=number],input[type=password]
	{
	border:1px solid rgba(0,0,0,0.3);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
	}

	.btn
	{
	-webkit-tap-highlight-color:rgba(0,0,0,0)
	}

	.post
	{
	-webkit-text-size-adjust:none
	}

	form label,form .row
	{
	-webkit-text-size-adjust:none
	}

	form .title
	{
	-webkit-text-size-adjust:none
	}

	footer a
	{
	-webkit-text-size-adjust:none
	}


}

@media only screen and (max-width: 320px) and (max-device-width: 480px)
{
	.box
	{
	margin-left:10px;
	margin-right:10px
	}

	#dialog
	{
	min-width:280px
	}

	#dialog .wrapper
	{
	width:280px
	}


}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
{
	footer h3 a
	{
	background-image:url(../images/logo@2x.png);
	background-size:228px 14px
	}


}


