/*!
 * Book Your Beds RC1
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
.sidebar {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 200px;
  padding-top: 40px;
  background: #eeeeee url('../img/lines-45.png');
}
.container {
  position: absolute;
  left: 200px;
  right: 0;
  top: 40px;
  bottom: 0;
  padding: 0px 20px 10px 20px;
  overflow-y: auto;
}
.masthead {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: 40px;
  background: #7a43b6;
  *zoom: 1;
}
.masthead:before,
.masthead:after {
  display: table;
  content: "";
  line-height: 0;
}
.masthead:after {
  clear: both;
}
.masthead form {
  display: none;
  padding: 5px;
  background: #ccc;
  position: relative;
}
.masthead form input {
  margin: 0;
  padding: 1%;
  border: none;
  display: block;
  width: 98%;
  font-size: 20px;
  font-weight: normal;
}
.masthead form input ::-webkit-input-placeholder,
.masthead form input :-moz-placeholder,
.masthead form input ::-moz-placeholder,
.masthead form input :-ms-input-placeholder {
  color: #999;
}
.masthead ul {
  margin: 0 10px;
  padding: 0;
  list-style-type: none;
  *zoom: 1;
}
.masthead ul:before,
.masthead ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.masthead ul:after {
  clear: both;
}
.masthead ul li {
  float: left;
}
.masthead ul li.branding h3 {
  margin: 0;
  width: 182px;
  height: 40px;
  background: url('../img/sprite.png') no-repeat left -500px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.masthead ul li.mobile-menu {
  display: none;
}
.masthead ul li.mobile-menu a {
  display: block;
  height: 40px;
  width: 40px;
  background: url('../img/sprite.png') no-repeat 5px -443px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.masthead ul li.pull-right {
  float: right;
}
.masthead ul li.pull-right a {
  display: block;
  height: 40px;
  width: 40px;
  background: url('../img/sprite.png') no-repeat 5px -393px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.masthead ul li.pull-right a.active {
  background-color: #ccc;
}
.masthead ul.pull-right {
  float: right;
}
.masthead ul.pull-right > li {
  float: left;
}
.masthead ul.pull-right > li a {
  display: block;
  height: 40px;
  width: 40px;
  background: url('../img/sprite.png') no-repeat 5px -193px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
body {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
}
ul.side-nav {
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
  width: 200px;
}
ul.side-nav li {
  margin: 0 10px 10px 10px;
}
ul.side-nav li a {
  display: block;
  padding: 12px 10px 0 42px;
  height: 28px;
  _height: 40px;
  font-size: 14px;
  text-decoration: none;
  color: #999999;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul.side-nav li a:hover {
  background-color: rgba(130, 130, 130, 0.1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
ul.side-nav li.nav-dashboard a {
  background-position: 7px 10px;
}
ul.side-nav li.nav-diary a {
  background-position: 7px -40px;
}
ul.side-nav li.nav-settings a {
  background-position: 7px -90px;
}
ul.side-nav li.nav-user a {
  background-position: 7px -140px;
}
ul.side-nav li.nav-rooms a {
  background-position: 7px -190px;
}
ul.side-nav li.nav-availability a {
  background-position: 7px -240px;
}
ul.side-nav li.nav-supplements a {
  background-position: 7px -290px;
}
ul.side-nav li.nav-salesdesk a {
  background-position: 7px -340px;
}
ul.side-nav li.selected a {
  color: #fff;
  background-color: #999999;
}
ul.side-nav li.nav-dashboard.selected a {
  background-position: -465px 10px;
}
ul.side-nav li.nav-diary.selected a {
  background-position: -465px -40px;
}
ul.side-nav li.nav-settings.selected a {
  background-position: -465px -90px;
}
ul.side-nav li.nav-user.selected a {
  background-position: -465px -140px;
}
ul.side-nav li.nav-rooms.selected a {
  background-position: -465px -190px;
}
ul.side-nav li.nav-availability.selected a {
  background-position: -465px -240px;
}
ul.side-nav li.nav-supplements.selected a {
  background-position: -465px -290px;
}
ul.side-nav li.nav-salesdesk.selected a {
  background-position: -465px -340px;
}
ul.side-nav.bottom {
  position: fixed;
  bottom: 0px;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    width: 62px;
    display: block;
  }
  .container {
    left: 62px;
  }
  ul.side-nav {
    top: auto;
    width: 62px;
  }
  ul.side-nav li a {
    width: 0px;
    padding-left: 42px;
    padding-right: 0;
    overflow: hidden;
  }
}
@media only screen and (max-width: 400px) {
  .masthead ul {
    text-align: center;
    margin: 0 5px;
  }
  .masthead ul li.branding {
    float: none;
    width: 182px;
    margin: 0 auto;
  }
  .masthead ul li.mobile-menu {
    display: block;
  }
  .masthead ul li.pull-right {
    float: none;
    position: absolute;
    right: 10px;
    top: 0;
  }
  .sidebar {
    display: none;
    bottom: auto;
    right: 0;
    width: auto;
  }
  .sidebar ul.side-nav {
    top: auto;
    width: auto;
    margin-top: 5px;
  }
  .sidebar ul.side-nav li {
    margin: 0 5px 2px 5px;
    width: auto;
  }
  .sidebar ul.side-nav li a {
    width: auto;
    padding: 12px 10px 0 42px;
  }
  ul.side-nav.bottom {
    position: relative;
    bottom: auto;
  }
  .container {
    left: 0;
  }
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
